<div class ="row">
	<div class ="col-xs-12">
		<div class ="col-xs-12">
			<img class ="prueba" src="/assets/Images/Logo CE_Vaucher_Transparente.png" 
	alt="Insertar logotipo aquí" width="140" height="120" 
	id="Insert_logo" 
	style="display:block;"/>
	<span >
			<a class ="logoutOpcion" >Cerrar Sesion</a></span>
			
<!-- 				<span class ="credenciales">Nombre: <span class ="credenciales2"></span></span> -->
<!-- 				<br/>  -->
<!-- 				<br/> -->
<!-- 				<span class ="credenciales">Rol: <span class ="credenciales2"></span></span>  -->
			
			
		</div>
		
	</div>	
</div>
	
	
