<!DOCTYPE html>
<html lang="en">
	
	<body>
		<div class="col-xs-12 col6 fondo">
			<app-head></app-head>
		</div>
			
		<div class="container">
			
			<header class="page-header">
				<h1 ><small>Centro Est&eacute;tico</small>Vaucher </h1>
				<app-menu-principal></app-menu-principal>
			</header>
			
			<div class="row">
				<div class="col-xs-10 col-sm-12 col-md-6 col-lg-6">
<!-- 					<t:insertAttribute name ="left"/> -->
				</div>
				<div class="col-xs-10 col-sm-12 col-md-12 col-lg-12">
<!-- 					<t:insertAttribute name ="content"/> -->
				</div>
				
				<div class="col-xs-10 col-sm-12 col-md-4 col-lg-4">
<!-- 					<t:insertAttribute name ="right"/> -->
				</div>
				
			</div>
			
		</div>
		<footer>
			<div>
				<app-footer></app-footer>
			</div>
		</footer>
	</body>
</html>