<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="uy.com.cvaucher.services.mybatis.mappers.AgendaMapper">
		  	
  	<resultMap type="uy.com.cvaucher.services.domain.Agenda" id="AgendaResult">
  	    
  		<id property="agPacId" column="ag_pac_Id"/>
  		
		<result property="tipoAgenda" column="ag_tipo"/>
		<result property = "dato" column ="ag_dato"/>
		
		<association property = "pacientes" resultMap ="uy.com.cvaucher.services.mybatis.mappers.PacientesMapper.PacientesResult"/>
  	</resultMap>
  	
  
</mapper>