<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="uy.com.cvaucher.services.mybatis.mappers.HistorialPagosMapper">
		  	
  	<resultMap type="uy.com.cvaucher.services.domain.HistorialPagos" id="HistorialPagosResult">
  	    
  		<id 	property = "histPagosId" 		column = "hist_pagos_id"/>
  		
		<result property = "histTratPacId" 		column = "hist_pagos_trat_pac_id"/>
		<result property = "histPagosCajaId"	column = "hist_pagos_caja_id"/>
		<result property = "histPagosFechaPago"	column = "hist_pagos_fecha_pago"/>
		<result property = "histPagosMonto"		column = "hist_pagos_monto"/> 
		<result property = "histPagosTipo"		column = "hist_tipo_pago"/>
  	</resultMap>
  	
  
</mapper>