<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <mapper namespace ="uy.com.cvaucher.services.mybatis.mappers.LoginMapper">
  
  	<resultMap type="uy.com.cvaucher.services.domain.Login" id="LoginResult">
  		<result property =""	column ="NIC"/>
  		<result property =""	column ="PASS"/>
  		<result property =""	column ="ENABLED"/>
  		<result property =""	column ="ROL"/>
  	</resultMap>
  
  </mapper>