<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="uy.com.cvaucher.services.mybatis.mappers.TipoAgendaMapper">
		  	
  	<resultMap type="uy.com.cvaucher.services.domain.TipoAgenda" id="TipoAgendaResult">
  		<id property="tpoAgId" column="tpo_ag_id"/>
		<result property="tpoAgText" column="tpo_ag_text"/>
	
  	</resultMap>
  	
  
</mapper>